<form
	[formGroup]="resetPasswordForm"
	(ngSubmit)="resetPassword()"
	class="flex flex-col space-y-3"
>
	<label for="password">
		<input
			id="password"
			formControlName="password"
			type="password"
			placeholder="Enter password"
		/>
	</label>
	<div
		*ngIf="
			resetPasswordForm.get('password')?.invalid &&
			resetPasswordForm.get('password')?.touched
		"
		class="error"
	>
		{{ 'auth.register.error.password' | translate }}
	</div>

	<label for="passwordConfirmation">
		<input
			id="passwordConfirmation"
			formControlName="passwordConfirmation"
			type="password"
			placeholder="Re-enter password"
		/>
	</label>
	<div
		*ngIf="resetPasswordForm.errors?.['passwordMismatchError'] && resetPasswordForm.get('passwordConfirmation')?.touched"
		class="error"
	>
		{{ 'auth.register.error.password-confirmation' | translate }}
	</div>

	<button
		type="submit"
		class="disabled:bg-purple-400"
		[disabled]="resetPasswordForm.invalid"
	>
		{{ 'auth.reset-password.button' | translate }}
	</button>
</form>
