<form
	[formGroup]="resetPasswordForm"
	(ngSubmit)="resetPassword()"
	class="flex flex-col space-y-3"
>
	<label for="password">
		<input
			id="password"
			formControlName="password"
			type="password"
			placeholder="Enter password"
		/>
	</label>
	<div
		*ngIf="
			resetPasswordForm.get('password')?.invalid &&
			resetPasswordForm.get('password')?.touched
		"
		class="error"
	>
		Your password must be between 7 and 15 characters long and include at least
		one uppercase letter, one digit, and one special character from the
		following list: !@#%.
	</div>

	<label for="passwordConfirmation">
		<input
			id="passwordConfirmation"
			formControlName="passwordConfirmation"
			type="password"
			placeholder="Re-enter password"
		/>
	</label>
	<div
		*ngIf="resetPasswordForm.errors?.['passwordMismatchError'] && resetPasswordForm.get('passwordConfirmation')?.touched"
		class="error"
	>
		Password must match
	</div>

	<button
		type="submit"
		class="disabled:bg-purple-400"
		[disabled]="resetPasswordForm.invalid"
	>
		Reset
	</button>
</form>
