<nav class="mb-14">
	<div class="lg:flex lg:items-center lg:justify-between">
		<ul class="flex items-center space-x-4 text-sm font-semibold text-gray-600">
			<li>
				<a [routerLink]="['/admin/dashboard']">
					<h2 class="text-lg font-bold text-black dark:text-white">
						Dashboard
					</h2>
				</a>
			</li>
			<div class="h-5 w-[2px] bg-black dark:bg-white"></div>
			<li>
				<a
					[routerLink]="['user']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
					>Users</a
				>
			</li>
			<li>
				<a
					[routerLink]="['quiz']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
				>
					Quiz
				</a>
			</li>

			<li>
				<a
					[routerLink]="['campus']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
					>Campus</a
				>
			</li>
			<li>
				<a
					[routerLink]="['section']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
					>Sections</a
				>
			</li>
			<li>
				<a
					[routerLink]="['block']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
					>Blocks</a
				>
			</li>
			<li>
				<a
					[routerLink]="['section-block']"
					[routerLinkActive]="[
						'text-black',
						'bg-gray-200',
						'dark:text-white',
						'dark:bg-purple-700'
					]"
					class="rounded-md px-2 py-2 hover:bg-gray-200 hover:text-black dark:hover:bg-purple-600 dark:hover:text-white xl:px-4"
					>SectionBlocks</a
				>
			</li>
		</ul>
	</div>
</nav>
